*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url("image3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.box {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.game h1 {
    padding: 2rem;
    font-size: 3rem;
    font-size: 55px;
    color: rgb(229, 255, 0);
    
    
}

.box button {
    width: 100px;
    height: 100px;
    background-color: hsla(0, 100%, 97%, 0);
    backdrop-filter: blur(50px); /* Blur effect */
    border: 1px solid rgba(225, 255, 0, 0.202);
    color: #ff4a3a;
    font-size: 3rem;
    border-radius: 10px; 
}




.buttonDesign  {
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 1.2rem;
    /* border: none; */
    background-color: hsla(0, 100%, 97%, 0);
    backdrop-filter: blur(50px); /* Blur effect */
    border: 1px solid rgba(225, 255, 0, 0.202);
    color: white;
}

.buttonDesign:hover {
    background-color: rgb(236, 34, 95);
    color: #000;
    cursor: pointer;
}

.playerTurn {
    display: flex;
    margin-top: 20px;
}

.playerTurn > *{
    padding: 10px 20px;
    border-radius: 10%;
    /* border: 1px solid #fff; */
    background-color: hsla(0, 100%, 97%, 0);
    backdrop-filter: blur(50px); /* Blur effect */
    border: 1px solid rgba(225, 255, 0, 0.202);
    color: white;
}

#turn{
    color : #ff4a3a;
} 



.draw img{
    width: 400px;
    margin-bottom: 20px;
}


.choice > * {
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(41, 207, 163);
    color: #ffffff;
    font-size: 1rem;
    border: none;
}

.choice > *:hover{
    background-color: rgb(236, 34, 95);
    color: #000;
    cursor: pointer;
}

.smile {
    width: 200px;
}

/* icon choice*/


.choose button{
    /* margin: 0; */
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(247, 239, 242);
    font-size: 2rem;
    border: none;
}

.choose{
    display: flex;
}


.iconChoice button:hover{
    background: #040404;
    color: aliceblue;
}

.box button{
    font-family:'Arial black', sans-serif;
}

.gameRestRestart > *{
    background-color: rgb(41, 207, 163);
    color: #ffffff;
}

.gameRestRestart >:hover{
    background-color: rgb(236, 34, 95);
    color: #000;
    cursor: pointer;
}



/* all boxes */

.playWith {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: yellow;
}


.iconChoice {
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: yellow;
}



.showWinner{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: yellow;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}

.game {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.draw{
    display: none;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: yellow;
}

